<div class="login">
  <div class="container">
    <div class="form">
        <%= form_for(:session, url: login_path) do |f| %> 
        <%= f.text_field :name, :placeholder => "Name" %> 
        <%= f.submit "Log in", class: "btn-submit" %> 
        <% end %>    
    </div>
  </div>
</div>